<!--================ Start Trip Package Area =================-->
<section class="package-area section_gap_top">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="ol-lg-12">
        <div class="main_title">
          <p>We’re Offering these Trip Packages</p>
          <h1>Famous Trips Packages</h1>
          <span class="title-widget-bg"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <app-trip-package-item></app-trip-package-item>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-trip-package-item></app-trip-package-item>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-trip-package-item></app-trip-package-item>
      </div>
    </div>
  </div>
</section>
<!--================ End Trip Package Area =================-->
