<!--================ Start CTA Area =================-->
<div class="cta-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1>Get Ready for Real time Adventure</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam quis nostrud exercitation.
        </p>
        <a href="#" class="primary-btn">Book a Trip</a>
      </div>
      <div class="offset-lg-1 col-lg-6">
        <img class="cta-img img-fluid" src="assets/img/cta-img.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!--================ End CTA Area =================-->
