<div *ngIf="trip">
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Trip detail</h1>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Trip #{{ trip.id }} - {{ trip.package_name }}
        </h6>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-6">
              <img [src]="trip.image" alt="" class="img-fluid" />
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="" class="font-weight-bold">Name: </label>
                <input
                  type="text"
                  class="form-control"
                  name="trip-name"
                  [(ngModel)]="trip.package_name"
                />
              </div>
              <div class="form-group">
                <label for="" class="font-weight-bold">Starting date: </label>
                <input
                  type="date"
                  class="form-control"
                  name="trip-start-date"
                  [ngModel]="trip.start_date | date: 'yyyy-MM-dd'"
                  (ngModelChange)="trip.start_date = $event"
                />
              </div>
              <div class="form-group">
                <label for="" class="font-weight-bold">From: </label>
                <input
                  type="text"
                  class="form-control"
                  name="trip-start-location"
                  [(ngModel)]="trip.start_location"
                />
              </div>
              <div class="form-group">
                <label for="" class="font-weight-bold">Duration: </label>
                <input
                  type="text"
                  class="form-control"
                  name="trip-duration"
                  [(ngModel)]="trip.trip_length"
                />
              </div>
              <div class="form-group">
                <label for="" class="font-weight-bold">Description</label>
                <p>{{ trip.desc }}</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
